.wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
input[type="text"] {
    height: 2rem;
    width: 50%;
    background-color: transparent;
    border: 1px solid var(--color-button);
    padding: 0.1rem;
    
}
input[type="color"] {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 1px solid var(--color-button);
    padding: 0.1rem;
}
