.button {
    width: 6rem;
    height: 3rem;
    border: none;
    background-color: var(--color-button);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-bulletin);
    
}
.button:hover {
    cursor: pointer;
    background-color: var(--color-button-hover);
}
.input, .generate {
    width: auto;
    height: 2rem;
    padding: 1rem;
}
.start, .reset {
    padding: 1rem;
    width: fit-content;
    height: 2rem;

}
.garage, .winners {
    width: 100%;
    background-color: transparent;
    text-decoration: underline;
}
.garage:hover, .winners:hover {
    color: var(--color-accent);
    background-color: transparent;
} 
.push, .stop {
    background-color: transparent;
    border: 1px solid var(--color-button);
    width: 3rem;
}
